body{
    width:100vw;
    height:100vh;
    background: #f8e7af;
    display:grid;
    place-items: center;
}

form{
    background-color: #fab1a0;
    padding:80px;
    width:50%;
    margin:100px;
    text-align: center;
    box-shadow: #777;
    font-size: 30px;
}

#sub{
    background-color: black;
    color:#f8e7af;
    padding:5px;
    border-radius: 2px;
}